.Contact{
    padding: 2rem 50px;
    h1{
        margin-bottom: 48px;
    }
    img{
        width: 100%;
        margin-bottom: 64px;
    }
    .descriptions{
        gap: 2rem;
        .description{
            .title{
                color: #406D70;
                margin-bottom: 8px;
            }
        }
    }

    .rendez-vous{
        img{
            width: 30px;
            margin: 0;
        }
    }

    .slogan{
        span{
            color: #406D70;
        }
    }
}