.SavoirFaireItem{
    .savoirFaireImage{
        width: 96px;
        height: 43px;
        border-radius: 48px;
    }
    .title{
        width: 247px;
    }
    .description{
        width: 600px;
        color: #5F5F5F;
    }
    .enSavoirPlusContainer{
        margin-left: auto;
        .enSavoirPlus{
            width: 132px;
        }
    }
    .enSavoirPlusContainer:hover{
        cursor: pointer;
    }
}

@media screen and (max-width:880px) {
    .SavoirFaireItem{
        .modalSavoirFaire{
            position: fixed;
            width: 80vw;
            background-color: #fff;
        }
    }
}